*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size:inherit; font-weight: 400;} 


body{
	color:#333;
	background:lavender;
	font-size:1em;
	font-family:"Segoe UI", sans-serif;
}
hr{
	display:block;
	border:0;
	height:1px;
	border-top:1px solid #ccc;
}
header, footer{
	background-color:#fff;


}
header{
	border-bottom:2px solid silver;
	padding:1%;
}

.searchbox{
	
    display: flex;
    align-items: center;
    position: absolute;
    left: 150px;
    transform: translate(-0, -50%);
    background: lavender;
    height: 32px;
    border-radius: 40px;
    padding: 2px;
    margin-top: -11px;
}
.searchbox .img{
	background: url(../img/search.svg) no-repeat;
    color: black;
    background-size: 90%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.searchbox:hover>.search_txt{
	width:240px;
	padding:0 6px;
}
.searchbox:hover>.search_btn{
	background:white;
}

.search_btn{
	color: lavender;
    float: right;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    background: #b9c0e4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
	
}
.search_txt{
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: white;
    font-size: 13px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


/*Основные стили для сайта*/
.wrapper{
	float:left;
	width:100%;
	
	margin-top:20px;
}
.wrapper .articles{
	margin-top:5px;
	margin-bottom:15px;
	float: left;
	width:80%;
	margin-left:12%;
}	
.wrapper .articles article{
	float:left;
	width:30%;
	border:1px solid silver;
	box-sizing:border-box;
	border-radius:5px;
	background-color:#fafafa;
	margin-right:2%;
	min-height:400px;
} 
.wrapper .articles article img{
	object-fit: cover;
	width:100%;
	height:200px;
	border-radius:5px 5px 0 0;
	border-bottom:1px solid silver; 
	
}
.wrapper .articles article .yule{
	object-fit:contain;
}



.wrapper .articles article h2{
	margin-top:5px;
	width:90%;
	margin-left:5%;
	font-weight:normal;
	font-size:1.5em;
	color:#4a4a4a;
	text-align:center;
}
.wrapper .articles article p{
	text-indent:1em;
	width:80%;
	font-size:1.1em;
	margin-top:10px;
	margin-left:8%;
}
.wrapper .articles article a{
	padding:5px;
	background-color:#ED7b7b;
	margin-left:15px;
	border-radius:10px;
	color:white;
	float:left;
	margin-top:10px;
}
.wrapper .articles article a:hover{
	background-color:yellow;
	color:black;
}



/*----------------------------*/



a{
	color:#f48b8b;
	transition:all.6s ease;
}
a:hover{
	color:blue;
	transition:all.6s ease;
}
a:active{
	color:green;
}
::selection{
	background:#f48b8b;
	color:#fff;
}
img{
	max-width:100%;
	height:autho;
	width:autho/9;
	
}
#logo{
	font-size:2em;
	font-weight:bold;
	
}
#logo:hover{
	color:#b9c0e4;
}

.right{
	margin-right:10px;
	float:right;
}
.contact{
	font-size:1.5em;
	margin-left:10px;
	
}
.left{
	float:left;
}
/*input[type=text].field{
	border-radius:5px;
	border:2px solid silver;
	padding:5px;
	margin-left:5px;
}
input[type=text].field:focus{
	border:2px solid #f48b8b;
}
*/
#menu{
	color:#666;
	font-size:1.7em;
}
center hr{
	width:500px;
	max-width:100%;
	margin-top:5px;
	margin-bottom:10px;
	size:2px;
}
#menuhrefs a{
	color:darkred;
	padding:5px;
	border-radius:5px;
	margin-right:5px;
	font-size:1.4em;
}
#menuhrefs a:hover{
	background-color:silver;
	color:black;
}


#page-wrap:after{
	content:"";
	display:block;
}

#page-wrap{
	min-height:94%;
	margin-bottom:-10px;
}
.clear{
	clear:both;
}


/*About us*/
.about_us{
	width:60%;
	float:left;
	background-color:#fafafa;
	border-radius:5px;
	border:2px solid silver;
	box-sizing:border-box;
	padding:10px;
}
.about_us p{
	text-indent:1em;
}
#column_right{
	text-indent:1em;
	width:30%;
	margin-left:5%;
	float:left;
	background-color:#fafafa;
	border-radius:5px;
	border:2px solid silver;
	box-sizing:border-box;
	padding:5px;
}

/*Feedmack*/

form{
	width:40%;
	margin-left:20%;
	float:left;
}
form label{
	width:10%;
	margin-right:5px;
	float:left;
	width:100%;
	margin-bottom:10px;
	padding-top:5px;
}
form input{
	border-radius:5px;
	border:2px solid silver;
	padding:5px;
	float:right;
	clear:both;
	margin-bottom:10px;
	width:70%;
	box-sizing:border-box;
	margin-right:43px;
}
form input:focus, textarea:focus{
	border:2px solid #f48b8b;
}
form textarea{
	margin-top:5px;
	width:90%;
	float:left;
	clear:both;
	background-color:#fafafa;
	border:2px solid silver;
	padding:10px;
	border-radius:5px;
}
form #send{
	margin-top:20px;
	float:left;
	padding:5px;
	border-radius:4px;
	width:80px;
	background-color:lavender
}
form #send:hover{
	background-color:silver;
}








/*Центральный блок сайта*/

#main_soc_block{
	width:100%;
	padding:5% 0;
	border-bottom:2px solid silver;
	border-top:2px solid silver;	
	margin:20px 0;
	float:left;	
	background:url('../img/bg.jpg') no-repeat;
	background-size:100%;
	background-position:center;
	height:450px;

}
#main_soc_block_in{
	font-size:1.1em;
	text-align:center;
	padding:1%;
	height:100px;
	background-color:#fafafa;
	opacity: .8;
	border:1px solid silver;
	border-radius:5px;
	width:500px;	
}
#main_soc_block_in h3{
	margin-bottom:5px;
	font-weight:bold;
}


#main_soc_block_in a{
	display:block;
	margin:10px 140px;
	float:center;
	padding:5px;
	border-radius:3px;
	background-color:#FFCC73;
	color:black;
}
.br{
	margin-top:30px;
	margin-bottom:30px;
}












/*Футтер*/



footer{
	border-top:2px solid silver;
	margin-top:10px;
	padding:1%;
	padding-bottom:2%;
}

}
footer, #page-wrap:after{
	height:10px;
}





